/* @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    color: #b6d8fa;
}

.webgl {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    outline: none;
}
.webgl.disable{pointer-events: none;}

.text-panel {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 400px;
    background-color: rgba(0,0,0,0.5);
    /* color: #fff; */
    font-size: 24px;
    font-family: sans-serif;
    padding: 20px 25px 25px;
    border-radius: 16px;
    /* box-shadow: -1px -1px 55px 25px rgb(59 30 102 / 50%); */
    box-shadow: -1px -1px 65px 25px rgb(45 149 252 / 80%);
    display: none;
    /* pointer-events: none; */
    /* border: 2px solid #fff; */
}

.show{
    display: block;
}
p {
    margin: 16px 0;
}
h1, h2, h3, h4 {
    margin-bottom: 10px;
}

svg {
    width: 35px;
    margin-bottom: -11px;
    margin-top: 16px;
    margin-right: 10px;
}
svg path{
    fill: #fff
}

section#contact {
    /* background-color: rgba(0,0,0,0.8); */
    /* background: linear-gradient(152deg, #3b1e65 20%, transparent 70%); */
    background: linear-gradient(132deg, #3b1e65 35%, transparent 100%);
    color: #fff;
    /* font-family: 'Nabla', cursive; */
    z-index: 999;
}
section#contact h3{
    font-size: 62px;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-image: url(https://media2.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.gif?cid=790b761107897db13569da8f14938a34a6218a71940c1f09&rid=giphy.gif&ct=g);
    background-size: contain;
    background-size: 100%;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px rgb(255 0 122 / 40%);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

section#contact a {
    text-align: center;
    display: block;
    color: rgb(45 149 252);
    font-weight: 900;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 900;
    /* text-shadow: 0px 0px 16px rgb(255 255 255 / 60%); */
}

form .row{
    margin: 1rem auto;
}

button{
    width: 100%;
    font-weight: 700;
    border-radius: 8px;
    /* background: linear-gradient(168deg, #3b1e65 10%, transparent 70%); */
    background-image: url(https://media2.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.gif?cid=790b761107897db13569da8f14938a34a6218a71940c1f09&rid=giphy.gif&ct=g);
    background-size: contain;
    background-size: 100%;
    color: #b6d8fa;
    text-align: left;
    border: none;
    padding: 8px;
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 0px 0px 16px rgb(255 255 255 / 60%); */
    font-size: 32px;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: 1px 1px 11px 6px rgb(45 149 252 / 80%);
    text-shadow: 3px 3px 5px #2d95fc, -3px -3px 5px #2d95fc;
}
button:hover{
    background-image: url(https://media4.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif?cid=790b761104de4520dabd28b0c8874d537537096f34ea8dec&rid=giphy.gif&ct=g);
}
input, textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(1, 198, 251, 0.5);
    padding-bottom: 10px;
    outline: none;
    resize: none;
    margin-bottom: 1rem;
    color: #b6d8fa !important;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
}
textarea {
    height: 180px;
}
::placeholder {
    color: #b6d8fa;
}
::-webkit-input-placeholder{
    color: #b6d8fa;
}
::-moz-placeholder{
    color: #b6d8fa;
}
:-ms-input-placeholder {
    color: #b6d8fa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid white; */
  /* -webkit-text-fill-color: #fff !important; */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  outline: none;
  background: transparent !important;
  color: #b6d8fa !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 17px;
    font-weight: 900;
    height: 8px;
    width: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border-radius: 50%;
    border: 1px solid rgb(45 149 252);
    color: rgb(45 149 252);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.close-button:hover{
    box-shadow: 0px 0px 8px 5px rgb(45 149 252 / 40%);
}

/* #about, #locations {
    border-radius: 0;;
    bottom: 5rem;
    left: 0;
    right: initial;
    max-width: 50vw;
    top: initial;
    height: 57vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    color: #000;
    background: transparent;
    box-shadow: none;
} */
#about, #locations {
    bottom: initial;
    left: 3rem;
    right: 3rem;
    max-width: 100%;
    top: 3rem;
    margin: 0 auto;
    overflow: scroll;
    height: 80vh;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(50deg, #3b1e65 40%, transparent 100%); */
    /* background: linear-gradient(153deg, #3b1e65 50%, transparent 100%); */
    background: rgb(59 30 101 / 90%);
    font-size: 22px;
}
#about h1 span{
    font-size: 30px;
}
#about span, #locations span {
    background-image: url(https://media4.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif?cid=790b761104de4520dabd28b0c8874d537537096f34ea8dec&rid=giphy.gif&ct=g);
    background-size: contain;
    background-size: 100%;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    animation: bg 17s infinite forwards;
    font-weight: 900;
    font-size: 55px;
}
ul{padding-left: 2rem;}
#about strong{
    display: block;
    margin-bottom: 0.75rem;
}

#about button.close-button, #locations button.close-button{
    width: auto;
    min-width: 110px;
    border-radius: 9px;
    border-width: 2px;
    height: auto;
    top: 1rem;
    right: 1rem;
    font-size: 22px;
    color: #b6d8fa;
    background-size: 100%;
}
#locations {
    right: 7rem;
    left: initial;
    bottom: 7rem;
    width: 370px;
    background: linear-gradient(132deg, #3b1e65 35%, transparent 100%);
    box-shadow: -1px -1px 65px 25px rgb(45 149 252 / 80%);
    padding: 2rem 2rem 4rem;
    height: auto;
    border-radius: 16px;
}
#locations span.title {
    border-bottom: 5px solid #4970fc;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 30px;
}
#locations span{
    font-size: 42px;
}
#locations p {
    font-size: 16px;
    color: #fff;
    margin: 0 auto 10px;
}

@keyframes bg{
    0%, 35% {
        background-image: url(https://media4.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif?cid=790b761104de4520dabd28b0c8874d537537096f34ea8dec&rid=giphy.gif&ct=g);
    }
    50% {
        background-image: url(https://media0.giphy.com/media/xT1XGMbENXj5IMKtnG/giphy.gif?cid=ecf05e47tbbfwk3t4x6i8781zq7m9qeqfnm6gceezwkgja99&rid=giphy.gif&ct=g);
    }
    70% {
        background-image: url(https://media2.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.gif?cid=790b761107897db13569da8f14938a34a6218a71940c1f09&rid=giphy.gif&ct=g);
    }
}

@media(max-width: 1024px){
    section#contact{
        top: 1rem;
    }
    section#contact h3{
        font-size: 42px;
    }
    textarea{
        height: 90px;
    }
    input, textarea{
        font-size: 16px;
    }
    button {
        font-size: 20px;
    }
    section#about, section#locations{
        top: 1rem;
        bottom: initial;
        /* background: linear-gradient(132deg, #3b1e65 55%, transparent 100%); */
        background: rgb(59 30 101 / 90%);
        box-shadow: -1px -1px 65px 25px rgb(45 149 252 / 80%);
        max-width: 90%;
        margin: 1rem auto;
        left: 0;
        right: 0;
        font-size: 29px;
        border-radius: 12px;
        padding: 1rem 1rem 2.5rem;
        box-sizing: border-box;
        height: auto;
    }
    section#about{
        font-size: 16px;
        height: auto;
        max-height: 85vh;
        /* height: 89vh; */
        /* height: 600px; */
    }
    section#about h1 span{
        font-size: 18px;
    }
    #about span{
        font-size: 30px;
    }
    #about span, #locations span{
        color: inherit;
        background-image: none;
    }
    section#locations {
        right: 0;
        left: 0;
        bottom: 2rem;
        max-width: 80%;
    }
    section#locations span {
        font-size: 34px;
    }
    #locations span.title{
        font-size: 28px;
    }
    /* section#locations {
        width: 260px;
    } */
    #about button.close-button, #locations button.close-button {
        bottom: 1rem;
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        font-size: 20px;
    }
    /* section#about br {display: none;} */
    /* h3.section-subheading{
        font-size: 12px;
    }
    form{
        padding: 2rem;
        button{margin-top: 1rem;}
    } */
}