/* @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    color: #b6d8fa;
    background: #000;
    font-family: 'Roboto', sans-serif;
}

img{max-width: 100%;}

.webgl {
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    outline: none;
}
.webgl.disable{pointer-events: none;}
.webgl.fade{animation: fade 3.2s forwards;}

.text-panel {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 400px;
    background-color: rgba(0,0,0,0.5);
    /* color: #fff; */
    font-size: 24px;
    font-family: sans-serif;
    padding: 20px 25px 25px;
    border-radius: 16px;
    /* box-shadow: -1px -1px 55px 25px rgb(59 30 102 / 50%); */
    box-shadow: -1px -1px 65px 25px rgb(45 149 252 / 80%);
    display: none;
    /* pointer-events: none; */
    /* border: 2px solid #fff; */
}

.show{
    display: block;
}
p {
    margin: 16px 0;
}
h1, h2, h3, h4 {
    margin-bottom: 10px;
}

svg {
    width: 35px;
    margin-bottom: -11px;
    margin-top: 16px;
    margin-right: 10px;
}
svg path{
    fill: #fff
}

section#contact {
    /* background-color: rgba(0,0,0,0.8); */
    /* background: linear-gradient(152deg, #3b1e65 20%, transparent 70%); */
    background: linear-gradient(132deg, #3b1e65 35%, transparent 100%);
    color: #fff;
    /* font-family: 'Nabla', cursive; */
    z-index: 999;
}
section#contact h3{
    font-size: 62px;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-image: url('./../static/images/blue.webp');
    background-size: contain;
    background-size: 100%;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px rgb(255 0 122 / 40%);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

section#contact .email{
    display: block;
    text-align: center;
}

section#contact a {
    text-align: center;
    display: block;
    color: rgb(45 149 252);
    font-weight: 900;
    text-decoration: none;
    font-size: 24px;
    margin: 0 auto 1rem;
    font-weight: 900;
    width: fit-content;
    /* text-shadow: 0px 0px 16px rgb(255 255 255 / 60%); */
}

form .row{
    margin: 1rem auto;
}

button{
    width: 100%;
    font-weight: 700;
    border-radius: 8px;
    /* background: linear-gradient(168deg, #3b1e65 10%, transparent 70%); */
    background-image: url('./../static/images/blue.webp');
    background-size: contain;
    background-size: 100%;
    color: #b6d8fa;
    text-align: left;
    border: none;
    padding: 8px;
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 0px 0px 16px rgb(255 255 255 / 60%); */
    font-size: 32px;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: 1px 1px 11px 6px rgb(45 149 252 / 80%);
    text-shadow: 3px 3px 5px #2d95fc, -3px -3px 5px #2d95fc;
}
button.gif-button:hover{
    background-image: url('./../static/images/tv.webp');
}
input, textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(1, 198, 251, 0.5);
    padding-bottom: 10px;
    outline: none;
    resize: none;
    margin-bottom: 1rem;
    color: #b6d8fa !important;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
}
textarea {
    height: 180px;
}
::placeholder {
    color: #b6d8fa;
}
::-webkit-input-placeholder{
    color: #b6d8fa;
}
::-moz-placeholder{
    color: #b6d8fa;
}
:-ms-input-placeholder {
    color: #b6d8fa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid white; */
  /* -webkit-text-fill-color: #fff !important; */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  outline: none;
  background: transparent !important;
  color: #b6d8fa !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.close-button, .close-controls-button, .close-locations-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 17px;
    font-weight: 900;
    height: 8px;
    width: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border-radius: 50%;
    /* border: 1px solid rgb(45 149 252); */
    color: rgb(45 149 252);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.close-button:hover, .close-modal-button:hover, .close-locations-button:hover {
    box-shadow: 0px 0px 8px 5px rgb(45 149 252 / 40%);
}
.close-locations-button{
    background: none;
    left: 0.5rem;
    text-shadow: none;
    box-shadow: none;
    font-size: 14px;
    height: 24px;
    width: 24px;
}
.close-controls-button, .close-locations-button, .close-contact-button{
    background: url('./../static/images/close.svg');
    background-size: contain;
    border: none;
}

/* .close-controls-button{
    left: 0.5rem;
    right: initial;
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    font-size: 14px;
    height: 25px;
    width: 25px;
} */

.controls {
    animation: slowFadeIn 2s forwards;
    animation-delay: 7s;
    opacity: 0;
    position: absolute;
    padding: 1rem;
    border-radius: 12px;
    /* border: 1px solid rgb(255 255 255 / 40%); */
    background: linear-gradient(-8deg, #3b1e65 65%, transparent 100%);
    box-shadow: 0px 0px 65px 20px rgb(45 149 252 / 50%);
    right: 1rem;
    top: 1rem;
    width: fit-content;
    margin: auto;
}
.controls p{
    margin: 0 0 4px;
}
.controls .mobile{
    display: none;
}

.hide{display: none ;}
/* #about, #locations {
    border-radius: 0;;
    bottom: 5rem;
    left: 0;
    right: initial;
    max-width: 50vw;
    top: initial;
    height: 57vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    color: #000;
    background: transparent;
    box-shadow: none;
} */
#about, #locations {
    bottom: initial;
    left: 3rem;
    right: 3rem;
    max-width: 100%;
    top: 3rem;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(50deg, #3b1e65 40%, transparent 100%); */
    /* background: linear-gradient(153deg, #3b1e65 50%, transparent 100%); */
    background: rgb(59 30 101 / 90%);
    font-size: 22px;
}
#about h1 span{
    font-size: 38px;
}
#about span, #locations span {
    /* background-image: url(https://media4.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif?cid=790b761104de4520dabd28b0c8874d537537096f34ea8dec&rid=giphy.gif&ct=g); */
    /* background-image: url(https://media2.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.gif?cid=790b761107897db13569da8f14938a34a6218a71940c1f09&rid=giphy.gif&ct=g); */
    background-image: url('./../static/images/blue.webp');
    background-size: contain;
    background-size: 100%;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    animation: bg 10s infinite alternate;
    font-weight: 900;
    font-size: 55px;
}
ul{padding-left: 2rem;}
#about strong{
    display: block;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid;
    padding: 8px;
}

.lists{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}
.services{border-right: 1px solid;}
.lists li{margin-bottom: 6px;}
.badges{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about button.close-button, #locations button.close-button{
    width: auto;
    min-width: 110px;
    border-radius: 9px;
    border-width: 2px;
    height: auto;
    top: 1rem;
    right: 1rem;
    font-size: 22px;
    color: #b6d8fa;
    background-size: 200%;
}

a#agencyvista-badge {
    width: 140px;
    position: relative;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}
.sortlist-badge {
    display: inline-block;
}

#locations {
    left: 3rem;
    right: initial;
    bottom: 7rem;
    width: 370px;
    background: linear-gradient(132deg, #3b1e65 35%, transparent 100%);
    box-shadow: -1px -1px 65px 25px rgb(45 149 252 / 80%);
    /* padding: 2rem 2rem 4rem; */
    padding: 2rem;
    height: fit-content;
    border-radius: 16px;
}
#locations span.title {
    border-bottom: 5px solid #4970fc;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 30px;
    /* margin-top: 1rem; */
}
#locations span{
    font-size: 32px;
    text-transform: uppercase;
}
#locations p {
    font-size: 16px;
    color: #fff;
    margin: 0 auto 10px;
}

#locations-hidden-button {
    box-shadow: none;
    left: 1rem;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
    background-size: 200%;
    top: 1rem;
    padding: 10px;
    width: 180px;
    height: auto;
    border: none;
    text-shadow: none;
}

@keyframes bg{
    /* 0%, 30% {
        background-image: url(https://media4.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif?cid=790b761104de4520dabd28b0c8874d537537096f34ea8dec&rid=giphy.gif&ct=g);
    } */
    0%, 30% {
        /* background-image: url(https://media0.giphy.com/media/xT1XGMbENXj5IMKtnG/giphy.gif?cid=ecf05e47tbbfwk3t4x6i8781zq7m9qeqfnm6gceezwkgja99&rid=giphy.gif&ct=g); */
        background-image: url('./../static/images/trip.webp');
    }
    60% {
        /* background-image: url(https://media2.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.gif?cid=790b761107897db13569da8f14938a34a6218a71940c1f09&rid=giphy.gif&ct=g); */
        background-image: url('./../static/images/blue.webp');
    }
}

@keyframes fade{
    0%{opacity: 1;}
    50%{opacity: 0;}
}

@keyframes slowFadeIn{
    0%{opacity: 0;}
    90%, 100%{opacity: 1;}
}

.point {
	position: absolute;
	top: 50%;
	left: 50%;
	/* pointer-events: none; */
}
.point .label {
	position: absolute;
	top: -20px;
	left: -20px;
    padding: 0 10px;
	border-radius: 12px;
	background: #00000077;
	border: 1px solid #ffffff77;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	font-weight: 100;
	font-size: 14px;
	cursor: help;
	transform: scale(0, 0);
	transition: transform 0.3s;
}
.point .text {
	position: absolute;
	top: 30px;
	left: -120px;
	width: 200px;
	padding: 20px;
	border-radius: 4px;
	background: #00000077;
	border: 1px solid #ffffff77;
	color: #ffffff;
	line-height: 1.3em;
	font-weight: 100;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;
}
.point:hover .text {
	opacity: 1;
}
.point.visible .label {
	transform: scale(1, 1);
}


/* //////////////////////////////////// */

/* /////     1024         //// */

/* //////////////////////////////////// */

@media(max-width: 1024px){
    section#contact{
        top: 1rem;
    }
    section#contact h3{
        font-size: 42px;
    }
    textarea{
        height: 90px;
    }
    input, textarea{
        font-size: 16px;
    }
    button {
        font-size: 20px;
    }
    section#about, section#locations{
        top: 1rem;
        bottom: initial;
        /* background: linear-gradient(132deg, #3b1e65 55%, transparent 100%); */
        background: rgb(59 30 101 / 90%);
        box-shadow: -1px -1px 65px 25px rgb(45 149 252 / 80%);
        max-width: 90%;
        margin: 1rem auto;
        left: 0;
        right: 0;
        font-size: 29px;
        border-radius: 12px;
        padding: 1rem 1rem 2.5rem;
        box-sizing: border-box;
        height: auto;
    }
    section#about{
        font-size: 16px;
        height: auto;
        max-height: 85vh;
        /* height: 89vh; */
        /* height: 600px; */
    }
    section#about h1 span{
        font-size: 18px;
    }
    #about span{
        font-size: 30px;
    }
    #about span, #locations span{
        color: inherit;
        background-image: none;
    }
    .lists{
        grid-template-columns: 1fr;
        font-size: 16px;
    }
    .tech {margin-top: 16px;}
    .services{border: none;}
    .badges{flex-direction: column;}
    a#agencyvista-badge {
        display: block;
        margin: 0 auto;
    }
    .sortlist-badge {
        display: block;
        margin: 10px auto;
    }
    section#locations {
        right: 0;
        left: 0;
        /* bottom: 2rem; */
        max-width: 95%;
        top: -5px;
        padding: 0.5rem 0.7rem 2.5rem;
    }
    section#locations span {
        font-size: 17px;
    }
    #locations span.title{
        font-size: 19px;
        margin-bottom: 0;
        margin-top: 0;
    }
    #locations p {
        font-size: 13px;
        margin: 0 auto;
    }
    #locations p.mt-10{margin-top: 10px;}
    /* section#locations {
        width: 260px;
    } */
    #about button.close-button, #locations button.close-button {
        bottom: 1rem;
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        font-size: 20px;
    }
    .close-locations-button{
        right: 0.5rem;
        left: initial;
        animation: none;
        /* background: none; */
        box-shadow: none;
        text-shadow: none;
    }
    /* section#about br {display: none;} */
    /* h3.section-subheading{
        font-size: 12px;
    }
    form{
        padding: 2rem;
        button{margin-top: 1rem;}
    } */
}

@media(max-width: 980px){
    .controls .desktop{
        display: none;
    }
    .controls .mobile{
        display: block;
    }
    .controls .mobile{
        left: 0;
        right: 0;
    }
    .controls.hide{
        display: none;
    }
    .close-locations-button{
        height: 30px;
        width: 30px;
    }
    #locations-hidden-button{
        width: 100%;
        height: 3.5rem;
        border: none;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        top: initial;
        background-size: 100%;
        border-radius: 0;
    }
}